<!DOCTYPE html>
<html>
  <head>
    <title>API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
   
  </head>
  <body>
      <%include header.ejs %>
        <div class="row" id="loading" style="display: block; margin-left: 30px;">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="row header-colrsl">
                  <div class="col-1 circle-pass-rsl">
                    <div class="circle" id="circle_pass">
                      <p class="numberOfPass" > 0 </p>
                      <p >Passed</p>
                    </div>
                  </div>
                  <div class="col-1 circle-fail-rsl">
                    <div class="circle" id="circle_fail">
                      <p class="numberOfFail"> 0 </p>
                      <p >Failed</p>
                    </div>
                  </div>
                  <div class="col-1 nameheaderCollection">
                    <p id="caseTest"><%=apiResult[0].casetest %></p>
                    <p>Just now</p>
                  </div>
                  <div class="col-2 iterationCollection">
                    <p>Iteration</p>
                    <p id="interation"> <%=iteration%> </p>
                  </div>
                  <div class="col-1 delayCollection">
                    <p>Delay</p>
                    <p id="delay"> <%=delay %> ms </p>
                  </div>
                  <div class="col-2">
                    <p id="eventEmail" style="display: none;"><%= eventEmail %></p>
                  </div>
                  <div class="col-4 btn-header-functions">
                    <button class="btn-export" data-toggle="collapse" data-target="#ModalExportJson">Export Json</button>
                  </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-12">
          <div class="collapse" id="ModalExportJson">
            <div class="form-import">
              <div class="form-header">
                <h4>Json</h4>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="form-body">
                  <textarea id="json"></textarea>
                </div>
                
              </div>
              <div class="form-footer">
                <button type="button" class="btn btn-secondary close">Close</button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row" style="height: 700px; background-color: rgb(218, 214, 214);">
          <div class="col-sm-12">
            <div class="my-custom-scrollbar my-custom-scrollbar-primary" style="margin-top: 30px; background-color: white;">
              <div class="row" style="height: 100%;">
                <div class="col-1 icon-status">
                  <div class="shape shape-pass">
                    <span class="text">PASS</span>
                  </div>
                  <div class="shape shape-fail">
                    <span class="text">FAIL</span>
                  </div>
                </div>
                <div class="col-10" style="margin-top: 20px;">
                  <form class="formResult">
                    <p id="iteration">Iteration 1</p>
                    <% if(apiResult){
                      for(let i=0; i<apiResult.length; i++){
                        let api = apiResult[i]; %>
                         <div id="rowApi" class="row rowOfApi">
                          <% if(api.statusCode == 200){%>
                            <div class="col-1 col-shape">
                              <div class="shape shape-pass"></div>
                            </div>     
                          <%}else{%>
                            <div class="col-1 col-shape">
                              <div class="shape shape-fail"></div>
                            </div>
                          <%}%>
                          <span class="col-1 api-method"><%= api.method %></span>
                          <span class="col-5 api-url"><%= api.url%></span>
                          <span class="col-1 col-circle">
                            <div class="shape circle shape-circle"></div>
                          </span>
                          <span class="col-1 api-statusCode"><%= api.statusCode %></span>
                          <span class="col-1 api-status"><%= api.status %></span>
                          <span class="col-1 api-timerequest"><%= api.timeRequest %> ms</span>        
                        </div>
                    <%}
                    }%>
                  </form>
                  
                </div>
                <div class="col-1"></div>
              </div>
              
            </div>
          </div>
        </div>
      <%include footer.ejs %>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/nqpm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script language="javascript" src="/javascripts/collection.js"></script>
      <script language="javascript" src="/javascripts/supMainPage.js"></script>
  </body>
</html>