<!DOCTYPE html>
<html>
  <head>
    <title>API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.scss' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
   
   
  </head>
  <body>
    <%include header.ejs%>
    <div class="row" id="content">
      <div class="col-sm-12">
        
        <div class="row" style="height: 100%" >
          <div class="col-sm-3" style="background-color:rgb(235, 232, 232);">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="menuTemp">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" style="width: 50%;">
                    <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true">History</a>
                  </li>
                  <li class="nav-item" style="width: 50%;">
                    <a class="nav-link" id="collection-tab" data-toggle="tab" href="#collection" role="tab" aria-controls="collection" aria-selected="false">Collection</a>
                  </li>
                
                </ul>
                
              </div>
            </nav>
            <!-- <hr> -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div id="history">
                  <ul class="ul-history">
                    <li class="form-history">      
                    <hr>
                    </li>
                                             
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="collection" role="tabpanel" aria-labelledby="collection-tab">
                <div class="row" style="background-color: rgb(250, 193, 167); border-radius: 5px; border-style: none;">
                  <div class="col-3"></div>
                  <div class="col-8">
                    <button class="btn-create-collection" data-toggle="modal" data-target="#form-create-collection" style="height: 50px; border-style: hidden; background-color: rgb(245, 240, 238); border-radius: 5px; border-style: none;">
                      <img src="images/plus.png" alt="Add params" style="width: 15px;height: 15px;"> New collection  
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <% if(rs.listCollection){
                      for(let i=0;i<rs.listCollection.length;i++){
                        let row = rs.listCollection[i];%>

                        <hr>
                        <div class="row" id="eachCollection">
                          <div class="col-10" >
                            <a data-toggle="collapse" href="#api<%=row.casetest%>" aria-expanded="false" aria-controls="api<%=row.casetest%>">
                              <button style="height: 40px; border-style: hidden; background-color: rgb(235, 232, 232); margin-left: 20px; margin-top: 20px;">
                                <svg class="bi bi-folder-plus" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 00-.996 1.09l.637 7a1 1 0 00.995.91H9v1H2.826a2 2 0 01-1.991-1.819l-.637-7a1.99 1.99 0 01.342-1.31L.5 3a2 2 0 012-2h3.672a2 2 0 011.414.586l.828.828A2 2 0 009.828 3h3.982a2 2 0 011.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0013.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 011-.98h3.672a1 1 0 01.707.293z" clip-rule="evenodd"/>
                                  <path fill-rule="evenodd" d="M13.5 10a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13v-1.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                                  <path fill-rule="evenodd" d="M13 12.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
                                </svg>
                                <span style=" margin-left: 5px; margin-top: 3px; font-size: 20px;"><%= row.casetest%></span>
                              </button>
                            </a>
                            
                          </div>
                          <div class="col-2">
                            <a id="runCollection" href="/collectionDetail/<%= row.casetest%>">
                              <svg class="bi bi-play-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/>
                              </svg>
                            </a>
                            <hr>
                            <a id="runCollection" href="/removeCollection/<%= row.casetest%>">
                              <img src="images/remove.png" style="height: 25px; width: 25px;">
                            </a>
                            
                          </div>
                        </div>
                        <div class="collapse multi-collapse" id="api<%=row.casetest%>">
                          <div class="row">
                            <hr>
                            <!-- <div class="col-2"></div> -->
                            <div class="col-10">
                              <div class="list-api-collection">
                                <% for(let j=0;j<rs.listApi.length;j++){
                                  if(rs.listApi[j].casetest == rs.listCollection[i].casetest){ %>
                                    <a href="#" class="api-of-collection">
                                      <div class="each-collection" id="each-collection-<%=rs.listApi[j].id%>">
                                        <span class="method-api-collection"><%=rs.listApi[j].method %></span>
                                        <p class="url-api-collection"><%=rs.listApi[j].url %></p>
                                      </div>
                                    </a> 
                                <%  }
                                }%>
                              </div>
                            </div>
                          </div>
                          
                        </div>
                      <% }}%>
                  </div>
                  
                </div>
                <hr>
              </div>
            </div>
            
          </div>
          <div class="col-sm-9" style="background-color: #FFFFFF; height: 100%;">
            <h3 style="margin-top: 15px;">Name Test</h3>
            <form id="form1" method="POST" action="/callApi" enctype = "multipart/form-data">
              <select id="idMethod" name="method" style="background-color: #FFF; border-radius: 5px 0px 0px 5px; height: 27px;width: 80px;">
                <option value="get">GET</option>
                <option value="post">POST</option>
                <option value="delete">DELETE</option>
                <option value="put">PUT</option>
              </select>
              <input id="urlAPIID" class="urlAPI" type="http://apiFree" name="api" style="width: 500px;border-radius: 0px 5px 5px 0px; margin: 10px; margin-left: -5px;">
              <input name="submit" type="submit" class="btn btn-primary" style="width: 100px; height: 27px; margin-bottom: 5px; padding-top: 0px;" value="SEND">
              <input id="save" name="submit" onclick="saveApi()" type="submit" class="btn btn-primary" style="width: 100px; height: 27px; margin-bottom: 5px; padding-top: 0px;" value="SAVE">
              <!-- <button onclick="saveApi()" class="btn btn-dark" style="width: 100px; height: 27px; margin-bottom: 5px; padding-top: 0px;">SAVE</button> -->
              <br>
              <hr>
    
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#params" role="tab" aria-controls="home" aria-selected="true">Params</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#authorization" role="tab" aria-controls="profile" aria-selected="false">Authorization</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#headers" role="tab" aria-controls="contact" aria-selected="false">Headers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#body" role="tab" aria-controls="contact" aria-selected="false">Body</a>
                </li>
                
              </ul>
              <hr>
              <div class="tab-content" id="myTabContent">
                <!-- ....Params.... -->
                <div class="tab-pane fade show active" id="params" role="tabpanel" aria-labelledby="home-tab">
                  <div id="paramsParams">
                    <div class="form-Params-Params">
                      <div class="line-1-param" id = "line-1-param-0">
                        <span class="span3">
                          <input class="input-name-param-0" type="text" name="nameParam-param-0" placeholder="Name"  autocomplete="off">                    
                        </span>
                        <span class="span8">
                          <input class="input-value-param-0" type="text" name="valueParam-param-0" placeholder="Value" autocomplete="off">                      
                        </span>
                        <span class="span1-delete" id="span1-delete-0">
                          <img src="images/delete.png" alt="Delete params" >
                        </span>
                      </div> 
                    </div>               
                    <br>
                    <div class="btn-add-param-param">                
                      <img src="images/plus.png" alt="Add params" style="width: 15px;height: 15px;">                
                    </div>            
                    <hr>               
                  </div>
                </div>
                <!-- --authorization -->
                <div class="tab-pane fade" id="authorization" role="tabpanel" aria-labelledby="profile-tab">
                  <table class = "header-auth">
                    <tr>
                      <td class="auth-basic"><img src="images/plus.png" alt="Add params"> </td>
                      <td class="auth-basic-text"><a href="#">Basic Auth</a></td>
                      <td class="auth-bearer">&nbsp;&nbsp;<img src="images/plus.png" alt="Add params" ></td>
                      <td class="auth-bearer-text"><a href="#">Bearer Token</a></td>
                    </tr>
                  </table>
                  <div class="form-basic-auth">
                    <div class="title-basic-auth">Basic Auth</div>
                    <span class="span3">
                      <input class="input-username-auth" type="text" name="usernameBasicAuth" placeholder="Username">
                    </span>
                    <span class="span8">
                      <input class="input-pass-auth" type="password" name="passBasicAuth" placeholder="Password">
                    </span>
                    <span class="span1">
                      <a href="#"><img src="images/delete.png" alt="Delete params" ></a>
                    </span>
                  </div>
                  <div class="form-bearer-token">
                    <div class="title-bearer-token">Bearer Token</div>
                    <span class="span11">
                      <input class="input-bearer-token" type="text" name="bearerToken" placeholder="Token">
                    </span>
                    <span class="span1">
                      <a href="#"><img src="images/delete.png" alt="Delete params" ></a>
                    </span>
                  </div>
                </div>
                <!-- header -->
                <div class="tab-pane fade" id="headers" role="tabpanel" aria-labelledby="contact-tab">
                  <div id="headerParams">
                    <div class="form-Params-header">
                      <div class="line-1-param" id = "line-1-param-0">
                        <span class="span3">
                          <input class="input-name-header-0" type="text" name="nameParam-headder-0" placeholder="Name" autocomplete="off">                    
                        </span>
                        <span class="span8">
                          <input class="input-value-header-0" type="text" name="valueParam-header-0" placeholder="Value" autocomplete="off" multiple>                      
                        </span>
                        <span class="span1-delete" id="span1-delete-0">
                          <img src="images/delete.png" alt="Delete params" >
                        </span>
                      </div> 
                    </div>               
                    <br>
                    <div class="btn-add-param-header">                
                      <img src="images/plus.png" alt="Add params" style="width: 15px;height: 15px;">                
                    </div>            
                    <hr>               
                  </div>
                </div>
                <div class="tab-pane fareqde" id="body" role="tabpanel" aria-labelledby="contact-tab">
                  <div id="bodyParams">
                    <div class="form-Params">
                      <div class="line-1-param" id = "line-1-param-0">
                        <span class="span3">
                          <input class="input-name-body-0" type="text" name="nameParam0" placeholder="Name" autocomplete="off">
                          <select class="type-data-input-0" onchange="selectTypeOfData()">
                            <option value="text">Text</option>
                            <option value="file">File</option>
                          </select>
                        </span>
                        <span class="span8">
                          <input class="input-type-body-0" type="text" name="valueParam-body-0" placeholder="Value" autocomplete="off" multiple>
                          <!-- <p class="hide-input-text-body">abc</p> -->
                        </span>
                        <span class="span1-delete" id="span1-delete-0">
                          <img src="images/delete.png" alt="Delete params" >
                        </span>
                      </div> 
                    </div>               
                    <br>
                    <div class="btn-add-param" >                
                      <img src="images/plus.png" alt="Add params" style="width: 15px;height: 15px;">                
                    </div>
                
                    <hr>
                    <!-- <span>
                      Select multiple file :
                    </span> -->
                    <!-- <span>
                      <input type="file" name="filesabc" multiple> 
                    </span>   -->
                   
                  </div>
                </div>
              </div>
            </form>
              <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" style="color: coral; margin-top: 15px;">Response <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  </div>
              </nav>
            
            
                <div class="col-sm-12">
                  <div class="row">
                    <% if(rs){ 
                      if(url === ""){%>
                      <div class="card result scrollbar-ripe-malinka">
                        <div class="card-body">
                          <p style="color:blue;"><%=rs.json%></p>
                        </div>
                      </div>
                    <% }else{ %>
                            <%for(let i=0;i<9;i++){%>
                            <%let row = rs.json[i]%>
                            <span>
                                <form class="form_product" >
                                    <img src="<%=row.url%>" width="250px" height="150px">
                                    <br>
                                    <a class="text-center" style="color: black" href="/detail_product/<%=row.id%>/<%=1%>"><%=row.id%></a>
                                    <br>
                                    <span style="color: #FFD700; font-size: 20px"><%= row.albumId%></span>
                                </form>
                            </span>
                            <%}%>
        
                    <% }} %>
                  </div>
                </div>         
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" id="new-collection">
      <!-- <div class="col-sm-2"></div> -->
      <!-- <div class="col-1 col-sm-1 col-lg-2 col-md-2"></div> -->
      <!-- <div class="col-3 col-sm-1 col-md-3 col-lg-3"></div> -->
      <div class="col-6 col-sm-10 col-md-6 col-lg-6">
        <div class="modal form-popup" id="form-create-collection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form method="POST" action="/newCollection">
            <div class="modal-header">
              <h4>
                Create a collection
              </h4>
            </div>
            <div class="modal-body">
              <label>Name</label>
            </br>
            <input class="nameCollection" type="text" name="nameOfCollection">
            <p>Description</p>
            <!-- <p style="padding-left: 10px;">This description will show in your collection’s documentation, along with the descriptions of its folders and requests</p> -->
            <textarea rows="4" class="desColletion" name="description" maxlength="1000"></textarea>
            </div>     
            <div class="modal-footer">
              <input class="btn-create-successfully btn-primary" type="submit" value="Create">
              <span>
                <button class="btn-cancle-create btn-secondary" data-dismiss="modal" type="button" >Cancle</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="col-1 col-sm-1 col-lg-2 col-md-2"></div> -->
      <!-- <div class="col-3 col-sm-1 col-md-3 col-lg-3"></div> -->
    </div>   
    <%include footer.ejs %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/nqpm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script language="javascript" src="./javascripts/supMainPage.js"></script>
  </body>
</html>



